<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MyGist</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

 <div class="user-widget">
   <% if current_user %>
     <div class="alert alert-warning">
       Welcome <strong><%= current_user.name %></strong>
     </div>  
    
     <div class="wylogowanie">
	 <%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-lg btn-default" %>
     </div>
   <% else %>      
     <nav class="navbar navbar-default" role="navigation">
       <ul class="nav navbar-nav">
	 <li class="dropdown"> 
	   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div class="log">Sign in</div><b class="caret"></b></strong></a> 
	     <ul class="dropdown-menu"> 
	       <li><a href="/auth/facebook" id="sign_in">Sign in with Facebook</a></li> 
	       <li><a href="/auth/github" id="sign_in">Sign in with GitHub</a></li> 
	     </ul> 
	 </li> 
       </ul> 
     </nav>
   <% end %>
 </div>

 <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Gists</h2>
      </div>

      <div class="panel-body">
        <%= link_to "New gist", new_gist_path, class: "list-group-item" %>
        <%= link_to "All gists", gists_path, class: "list-group-item" %>
	<%= link_to "Search gists", searchgist_path, class: "list-group-item" %>
        <% if current_user %>
          <%= link_to "New group", new_group_path, class: "list-group-item" %>
        <% end %>
      </div>

      <div class="container">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
